:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --max-width: 100vw;
    --max-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.mask {
    height: var(--max-height);
    max-width: 50%;
    max-height: 50vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.star {
    background-color: var(--primary-color);
    color: var(--primary-color);
    mask-image: url();
    mask-size: 100%;
    mask-repeat: no-repeat;
    -webkit-mask-image: url(svg/star.svg);
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
}
.circle {
    background-color: var(--primary-color);
    color: var(--primary-color);
    mask-image: url();
    mask-size: 100%;
    mask-repeat: no-repeat;
    -webkit-mask-image: url(svg/circle.svg);
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
}
.square {
    background-color: var(--primary-color);
    color: var(--primary-color);
    mask-image: url();
    mask-size: 100%;
    mask-repeat: no-repeat;
    -webkit-mask-image: url(svg/square.svg);
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
}
.triangle {
    background-color: var(--primary-color);
    color: var(--primary-color);
    mask-image: url();
    mask-size: 100%;
    mask-repeat: no-repeat;
    -webkit-mask-image: url(svg/triangle.svg);
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
}
.diamond {
    background-color: var(--primary-color);
    color: var(--primary-color);   
    mask-image: url();
    mask-size: 100%;
    mask-repeat: no-repeat;
    -webkit-mask-image: url(svg/diamond.svg);
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
}
.pentagon {
    background-color: var(--primary-color);
    color: var(--primary-color);
    mask-image: url();
    mask-size: 100%;
    mask-repeat: no-repeat;
    -webkit-mask-image: url(svg/pentagon.svg);
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
}
.hexagon {
    background-color: var(--primary-color);
    color: var(--primary-color);
    mask-image: url();
    mask-size: 100%;
    mask-repeat: no-repeat;
    -webkit-mask-image: url(svg/hexagon.svg);
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
}
.octagon {
    background-color: var(--primary-color);
    color: var(--primary-color);
    mask-image: url();
    mask-size: 100%;
    mask-repeat: no-repeat;
    -webkit-mask-image: url(svg/octagon.svg);
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
}
.star {
    background-color: var(--primary-color);
    color: var(--primary-color);
    mask-image: url();
    mask-size: 100%;
    mask-repeat: no-repeat;
    -webkit-mask-image: url(svg/star.svg);
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}